<!doctype html>
<html lang="en">

<head>
  <%- include('partials/head', {title: 'Detalle de producto'}) %>
</head>

<body class="detail">
  <!-- navbar header -->
  <%- include('partials/header') %>
  <!-- /.navbar header -->

  <!-- detaik content -->

  <!-- product detail -->
  <div class="container products-wrapper">
    <div class="product-detail">
      <div class="row">
        <div class="col-12 col-lg-8">
          <img src="/assets/img/products/<%= product.image %>" alt="product image" class="product-detail-img">
          <p class="product-detail-description">
            <%= product.description %>
          </p>
        </div>
        <div class="col-12 col-lg-4">
          <article class="product-detail-info">
            <h4><%= product.name %></h4>

            <p class="product-detail-price discount">
              <span>$<%= product.price %></span>
              /
              <b><%= product.discount %>% OFF</b>
            </p>
            <h2 class="product-detail-price">
              $<%= finalPrice(product.price, product.discount) %>
            </h2>

            <ul class="actions-list">
              <li>
                <i class="fa fa-credit-card"></i>
                <p>Pagá en 12 cuotas sin interes</p>
              </li>
              <li>
                <i class="fa fa-shopping-bag"></i>
                <p>Retiro gratis en locales del vendedor</p>
              </li>
            </ul>

            <a href="#" class="btn btn-primary">COMPRAR AHORA</a>
            <hr>

            <form class="btn-group" action="/products/delete/<%= product.id %>?_method=DELETE" method="POST">
              <a href="/products/edit/<%= product.id %>" class="btn btn-orange">EDITAR PRODUCTO</a>
              <button type="submit" class="btn btn-danger">ELIMINAR</button>
            </form>
          </article>
        </div>
      </div>
    </div>
  </div>
  <!-- /product detail -->
  
  <!-- /.detaik content -->
  <%- include('partials/footer') %>

  <%- include('partials/scripts') %>
</body>

</html>
